/* HEADER */
.sony-header{
    background-color: black;
}
#sony_logo{
    height: 15px;
}
#lens-icon{
    height: 26px;
}
/* SECTION JUMBO */
.jumbo{
    color: white;
}
.jumbo-logo{
    max-width: 215px;
}
.jumbo-title{
    font-size: 2rem;
}
.jumbo-description{
    font-size: 1rem;
}
.jumbo-returnal{
    background-image: url(img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jumbo .row{
    min-height: 600px;
}
