/* HEADER */
.sony-header{
    background-color: black;
}
#sony_logo{
    height: 15px;
}
#lens-icon{
    height: 26px;
}
/* SECTION JUMBO (returnal + it takes two)*/
.jumbo{
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.jumbo .row{
    min-height: 600px;
}
.jumbo-logo{
    max-width: 215px;
}
.jumbo-title{
    font-size: 2rem;
}
.jumbo-description{
    font-size: 1rem;
}
.returnal{
    background-image: url(img/jumbo-bg.png);
}
.it-takes-two{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

/* MINI-CARDS SECTION */
.mini-card-wrapper>img{
    max-height: 120px;
    border: 3px solid transparent;
    padding: 3px;
    border-radius: 20px;
    overflow: hidden;
}
.mini-card-wrapper>img:hover{
    border: 3px solid blue;
    transition: ease-in-out 0.5s;
}
/* PLAY 5 SECTION (AND REPLICABLE TEXT) */
.subtitle-blue{
    color: rgb(50, 122, 255);
    font-weight: 600;
}
.section-subtitle{
    color: grey;
    font-weight: 400;
}
.play-5-thumb-big>img{
    max-width: 100%;
}
.play-5-thumb>img{
    width: 120px;
}
.play-5-thumb{
    border-bottom: 2px solid transparent;
}
.play-5-thumb:hover{
    border-bottom: 2px solid rgb(50, 122, 255) ;
    transition: ease-in 0.5s;
}